<html>
    <head>
        <meta charset="utf-8">
        <title>ALZACOPAS Home</title>
        <meta name="viewport" content="width = device width, initial-scale=1.0">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel = "stylesheet" href="/css/style.css">
        <link rel = "stylesheet" href="/css/carrito.css">
        
    </head>
    <header class = "headardo">
        
        <div class="headerTop">
        
            <h1 class = "logo">Alzacopas</h1>
        
            
                <nav class = "navegador"> 
                    <ul class="lista">
                        <li><a href="/carrito">Mis compras</a></li>
                        <li><a href="/producto">Productos</a></li>
                        <li><a href="/login">Ingresar</a></li>
                        <li><a href="/registro">Registrarse</a></li>
                        <li><a href="#">Sobre nosotros</a></li>
                    </ul>
                
                </nav>
            
                <div class="lupita">
                    <button type="button" class="btn btn-light"><i class="fas fa-search"></i></button>
                </div> 
        
                <div class="botonCelu">
                  <a href="#" class="iconotlf" >
                      <i class="fas fa-bars"></i>
                  </a>
              </div>
        
         
    </div>  
    </header>
    <body>
<div class="shopping-cart">
    <!-- Title -->
    <div class="title">
      Carrito
    </div>
   
    <!-- Product #1 -->
    <div class="item">
      <div class="buttons">
        <span class="delete-btn"><i class="bi bi-trash"></i></span>
        <span class="like-btn"><i class="bi bi-star"></i></span>
      </div>
   
      <div class="image">
        <img src="/img/vinochico.png" alt="" />
      </div>
   
      <div class="description">
        <span>Tintin</span>
        <span>CATENA ZAPATA</span>
        <span>rojo</span>
      </div>
   
      <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            +
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            -
        </button>
      </div>
   
      <div class="total-price">$549</div>
    </div>
   
    <!-- Product #2 -->
    <div class="item">
      <div class="buttons">
        <span class="delete-btn"><i class="bi bi-trash"></i></span>
        <span class="like-btn"><i class="bi bi-star"></i></span>
      </div>
   
      <div class="image">
        <img src="/img/vinagre.jpg" alt=""/>
      </div>
   
      <div class="description">
        <span>Vinagre de manzana</span>
        <span>COTO</span>
        <span>Para ensaladas</span>
      </div>
   
      <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            +
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            -
        </button>
      </div>
   
      <div class="total-price">$870</div>
    </div>
   
    <!-- Product #3 -->
    <div class="item">
      <div class="buttons">
        <span class="delete-btn"><i class="bi bi-trash"></i></span>
        <span class="like-btn"><i class="bi bi-star"></i></span>
      </div>
   
      <div class="image">
        <img src="/img/fernet.jpg" alt="" />
      </div>
   
      <div class="description">
        <span>Fernet</span>
        <span>Branca</span>
        <span>Con Coquita</span>
      </div>
   
      <div class="quantity">
        <button class="plus-btn" type="button" name="button">
            +
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
            -
        </button>
      </div>
   
      <div class="total-price">$349</div>
    </div>
  </div>
</body>
</html>