<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ALZACOPAS Home</title>
        <meta name="viewport" content="width = device width, initial-scale=1.0">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel = "stylesheet" href="/css/style.css">
        
    </head>
    
    <body> 
        
        <header class = "headardo">
            <div class="headerTop">
            <h1 class = "logo">Alzacopas</h1>
            <div>
            <nav class = "navegador"> 
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                </ul>
                
            </nav>
            <div class="lupita">
            <button type="button" class="btn btn-light"><i class="fas fa-search"></i></button>
            </div> 
            <div class="botonCelu">
                <a href="#" class="iconotlf" >
                    <i class="fas fa-bars"></i>
                </a>
            </div>
            </div>
            </div>  



        </header>
        <main>
            <p class="slogan1">El vino y los amigos hacen un buen blend</p>
            
            <div class="centrarInfo">
            <button id="masInfo" type="button" class="btn btn-outline-info">Mas Info</button>
            </div>

        <div class="redesSociales">
            <a id="instagram" href="#"><i class="fab fa-instagram"></i></a>
            <a id="facebook" href="#"><i class="fab fa-facebook-f"></i></a>
            <a id="whatsapp" href="#"><i class="fab fa-whatsapp"></i></a>
        </div>
        </main>
        
        <footer>
            <div class="footercito">
                <p>Beber con moderación. Prohibida su venta a menores de 18 años.</p>
                <p>Copyright © 1995-2022 ALZACOPAS S.R.L.</p>
            </div>
          



        </footer>   
    
    </body>

    
</html>