<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ALZACOPAS Home</title>
        <meta name="viewport" content="width = device width, initial-scale=1.0">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel = "stylesheet" href="/css/style.css">
        
    </head>

    <body> 
        <header class = "headardo">
            <div class = "logo"></div>
            <nav class = "navegador"> 
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                </ul>
                
            </nav>
            <button type="button" class="btn btn-light"><i class="fas fa-search"></i></button>
            <button type="button" class="btn btn-light"><i class="fas fa-bars"></i></button>
            



        </header>
        <main>
            <p>El vino y los amigos hacen un buen blend.</p>
            <button type="button" class="btn btn-outline-info">Mas Info</button>
            <img class= "homeFondo" src="img/fotium.jpg">



        </main>
    
        <footer>
            <div>
                <p>Beber con moderación. Prohibida su venta a menores de 18 años.</p>
            </div>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-whatsapp"></i></a>



        </footer>   
    </body>
    
</html>