<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ALZACOPAS Productos</title>
        <meta name="viewport" content="width = device width, initial-scale=1.0">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel = "stylesheet" href="/css/producto.css">
        <link rel = "stylesheet" href="/css/style.css">
        
    </head>
    <body> 

        <header class = "headardo">

            <div class="headerTop">

                <h1 class = "logo">Alzacopas</h1>


                    <nav class = "navegador"> 
                        <ul class="lista">
                            <li><a href="#">Sobre Nosotros</a></li>
                            <li><a href="#">Productos</a></li>
                            <li><a href="#">Ingresar</a></li>
                            <li><a href="#">Registrarse</a></li>
                        </ul>

                    </nav>
                    <div class="lupita">
                        <button type="button" class="btn btn-light"><i class="fas fa-search"></i></button>
                    </div>
                    <div class="botonCelu">
                        <a href="#" class="iconotlf" >
                            <i class="fas fa-bars"></i>
                        </a>
                    </div>
                </header>
        <main>
                    
                <div class="todo">
                    <div class="container page-wrapper">
                        <div class="page-inner">
                          <div class="row">
                            <div class="el-wrapper">
                              <div class="box-up">
                                <img class="img" src="" alt="">
                                <div class="img-info">
                                  <div class="info-inner">
                                    <span class="p-name">un tintin</span>
                                    <span class="p-company">CATENA ZAPATA</span>
                                  </div>
                                  <div class="a-size">Available sizes : <span class="size">1 litro 2 litros 4 litros</span></div>
                                </div>
                              </div>
                      
                              <div class="box-down">
                                <div class="h-bg">
                                  <div class="h-bg-inner"></div>
                                </div>
                      
                                <a class="cart" href="#">
                                  <span class="price">$120000</span>
                                  <span class="add-to-cart">
                                    <span class="txt">Agregar a carrito</span>
                                  </span>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="container page-wrapper">
                        <div class="page-inner">
                          <div class="row">
                            <div class="el-wrapper">
                              <div class="box-up">
                                <img class="img" src="/img/fernet.jpg" alt="">
                                <div class="img-info">
                                  <div class="info-inner">
                                    <span class="p-name">Fernandito</span>
                                    <span class="p-company">BRANCA</span>
                                  </div>
                                  <div class="a-size">Available sizes : <span class="size">500 ml 2 litros </span></div>
                                </div>
                              </div>
                      
                              <div class="box-down">
                                <div class="h-bg">
                                  <div class="h-bg-inner"></div>
                                </div>
                      
                                <a class="cart" href="#">
                                  <span class="price">$100000</span>
                                  <span class="add-to-cart">
                                    <span class="txt">Agregar a carrito</span>
                                  </span>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="container page-wrapper">
                        <div class="page-inner">
                          <div class="row">
                            <div class="el-wrapper">
                              <div class="box-up">
                                <img class="img" src="/img/vinagre.jpg" alt="">
                                <div class="img-info">
                                  <div class="info-inner">
                                    <span class="p-name">Vinagre</span>
                                    <span class="p-company">MENOYO</span>
                                  </div>
                                  <div class="a-size">Available sizes : <span class="size">1.5 litros</span></div>
                                </div>
                              </div>
                      
                              <div class="box-down">
                                <div class="h-bg">
                                  <div class="h-bg-inner"></div>
                                </div>
                      
                                <a class="cart" href="#">
                                  <span class="price">$10</span>
                                  <span class="add-to-cart">
                                    <span class="txt">Agregar a carrito</span>
                                  </span>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="container page-wrapper">
                        <div class="page-inner">
                          <div class="row">
                            <div class="el-wrapper">
                              <div class="box-up">
                                <img class="img" src="/img/vinito.jpg" alt="">
                                <div class="img-info">
                                  <div class="info-inner">
                                    <span class="p-name">UVA y QUESO</span>
                                    <span class="p-company">COTO</span>
                                  </div>
                                  <div class="a-size">Available sizes : <span class="size">200mg 300mg 500mg 4kg</span></div>
                                </div>
                              </div>
                      
                              <div class="box-down">
                                <div class="h-bg">
                                  <div class="h-bg-inner"></div>
                                </div>
                      
                                <a class="cart" href="#">
                                  <span class="price">$123420</span>
                                  <span class="add-to-cart">
                                    <span class="txt">Agregar a carrito</span>
                                  </span>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    </div>
        </main>
    </body>
</html>