<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>

    <body> 
        <%- include('./partials/header') %>

        <main>
            <p class="slogan1">El vino y Los Amigos Hacen un Buen Blend</p>

            <div class="centrarInfo">
                <a  href="https://goo.gl/maps/BEfWGgYdMkyXEsCa7">
                    <button id="masInfo" type="button" class="btn btn-outline-info">Mas Info</button>
                </a>
            </div>

        <div class="redesSociales">
            <a id="instagram" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a id="facebook" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
            <a id="whatsapp" href="https://www.whatsapp.com/?lang=es"><i class="fab fa-whatsapp"></i></a>
        </div>
        </main>

        <%- include('./partials/footer') %>

    </body>


</html>