<!DOCTYPE html>
<html>
    <%- include('./partials/head') %>

    <body> 
        <%- include('./partials/header') %>

        <main>
            <p class="slogan1">El vino y Los Amigos Hacen un Buen Blend</p>

            <div class="centrarInfo">
            <button id="masInfo" type="button" class="btn btn-outline-info">Mas Info</button>
            </div>

        <div class="redesSociales">
            <a id="instagram" href="#"><i class="fab fa-instagram"></i></a>
            <a id="facebook" href="#"><i class="fab fa-facebook-f"></i></a>
            <a id="whatsapp" href="#"><i class="fab fa-whatsapp"></i></a>
        </div>
        </main>

        <%- include('./partials/footer') %>

    </body>


</html>