<!DOCTYPE html>
<html>
  <%- include('./partials/head') %>
    <body> 

        <<%- include('./partials/header') %>
        <main>
                    
                <div class="todo">
                    <div class="container page-wrapper">
                        <div class="page-inner">
                          <div class="row">
                            <div class="el-wrapper">
                              <div class="box-up">
                                <img class="img" src="" alt="">
                                <div class="img-info">
                                  <div class="info-inner">
                                    <span class="p-name">un tintin</span>
                                    <span class="p-company">CATENA ZAPATA</span>
                                  </div>
                                  <div class="a-size">Available sizes : <span class="size">1 litro 2 litros 4 litros</span></div>
                                </div>
                              </div>
                      
                              <div class="box-down">
                                <div class="h-bg">
                                  <div class="h-bg-inner"></div>
                                </div>
                      
                                <a class="cart" href="#">
                                  <span class="price">$120000</span>
                                  <span class="add-to-cart">
                                    <span class="txt">Agregar a carrito</span>
                                  </span>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="container page-wrapper">
                        <div class="page-inner">
                          <div class="row">
                            <div class="el-wrapper">
                              <div class="box-up">
                                <img class="img" src="/img/fernet.jpg" alt="">
                                <div class="img-info">
                                  <div class="info-inner">
                                    <span class="p-name">Fernandito</span>
                                    <span class="p-company">BRANCA</span>
                                  </div>
                                  <div class="a-size">Available sizes : <span class="size">500 ml 2 litros </span></div>
                                </div>
                              </div>
                      
                              <div class="box-down">
                                <div class="h-bg">
                                  <div class="h-bg-inner"></div>
                                </div>
                      
                                <a class="cart" href="#">
                                  <span class="price">$100000</span>
                                  <span class="add-to-cart">
                                    <span class="txt">Agregar a carrito</span>
                                  </span>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="container page-wrapper">
                        <div class="page-inner">
                          <div class="row">
                            <div class="el-wrapper">
                              <div class="box-up">
                                <img class="img" src="/img/vinagre.jpg" alt="">
                                <div class="img-info">
                                  <div class="info-inner">
                                    <span class="p-name">Vinagre</span>
                                    <span class="p-company">MENOYO</span>
                                  </div>
                                  <div class="a-size">Available sizes : <span class="size">1.5 litros</span></div>
                                </div>
                              </div>
                      
                              <div class="box-down">
                                <div class="h-bg">
                                  <div class="h-bg-inner"></div>
                                </div>
                      
                                <a class="cart" href="#">
                                  <span class="price">$10</span>
                                  <span class="add-to-cart">
                                    <span class="txt">Agregar a carrito</span>
                                  </span>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="container page-wrapper">
                        <div class="page-inner">
                          <div class="row">
                            <div class="el-wrapper">
                              <div class="box-up">
                                <img class="img" src="/img/vinito.jpg" alt="">
                                <div class="img-info">
                                  <div class="info-inner">
                                    <span class="p-name">UVA y QUESO</span>
                                    <span class="p-company">COTO</span>
                                  </div>
                                  <div class="a-size">Available sizes : <span class="size">200mg 300mg 500mg 4kg</span></div>
                                </div>
                              </div>
                      
                              <div class="box-down">
                                <div class="h-bg">
                                  <div class="h-bg-inner"></div>
                                </div>
                      
                                <a class="cart" href="#">
                                  <span class="price">$123420</span>
                                  <span class="add-to-cart">
                                    <span class="txt">Agregar a carrito</span>
                                  </span>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    </div>
        </main>
    </body>
</html>