<header class = "headardo">

    <div class="headerTop">

        <h1 class = "logo"><a href="/">Alzacopas</a></h1>


            <nav class = "navegador"> 
                <ul class="lista">
                    <li><a href="/user/carrito">Mis compras</a></li>
                      <li><a href="/producto">Productos</a></li>
                      <% if (!locals.isLogged) { %>
                      <li><a href="/user/login">Ingresar</a></li>
                      <li><a href="/user/register">Registrarse</a></li>
                      <% } %>
                      <li><a href="/user/crear-producto">Crear Producto</a></li>
                      <% if (locals.isLogged) { %>
                      <li><a href="/user/profile">Perfil</a></li>
                      <li><a href="/user/logout">Logout</a></li>
                      <% } %>
                      
                </ul>

            </nav>

            <div class="lupita">
                <button type="button" class="btn btn-light"><i class="fas fa-search"></i></button>
            </div> 

            <div class="botonCelu">
              <a href="#" class="iconotlf" >
                  <i class="fas fa-bars"></i>
              </a>
          </div>


</div>
</header>